.box {
	padding: var(--s1);
	border: 1px solid var(--primary);
	--color-light: var(--text-light);
	--color-dark: var(--text-dark);
	color: var(--color-dark);
	background-color: var(--color-light);
}

.box * {
	color: inherit;
}

.box.invert {
	color: var(--text-light);
	background-color: var(--text-dark);
}
