.contactBackground {
	position: relative;
	background-color: var(--background-light);
	overflow: hidden;
	color: var(--text-dark);
	padding-block-start: 7rem;
}

.contactStack {
	composes: stack from "../styles/Stack.module.css";
	background-color: var(--background-light);
	padding-inline: var(--s2);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	padding: var(--s2) var(--s2);
}

.contactStack > * + * {
	--stack-space: var(--s3);
}

.contactStack h3,
.contactStack p {
	color: var(--primary);
}

.inputWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	inline-size: 100%;
}

.inputWrapper input {
	max-inline-size: 100%;
}

.borderTitle {
	position: absolute;
	top: -12px;
	right: 15px;
	background-color: var(--background-light);
	padding-inline: 0.5rem;
	transition: all 0.2s ease;
}

input:focus + .borderTitle,
textarea:focus + .borderTitle {
	font-size: 0.8rem;
	top: -6px;
}

.success {
	color: var(--secondary);
}

.error {
	color: indianred;
}

@media (max-width: 650px) {
	.contactStack {
		--stack-justify: center;
	}
}
