.background {
	position: relative;
	background-color: var(--primary);
}

.shapedivider {
	composes: shapedivider from "../styles/ShapeDivider.module.css";
	transform: rotate(0deg);
}

.shapedivider svg {
	height: 130px;
}

.shapedivider svg path {
	fill: var(--background-light);
}

.switcher {
	composes: switcher from "../styles/Switcher.module.css";
	gap: var(--s5);
}

.message {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	composes: stack from "../styles/Stack.module.css";
	--stack-justify: center;
	--stack-align: center;
	margin-block-start: var(--s5);
	text-align: center;
	color: var(--text-light);
}
