.siteHeader {
	padding-block: 0.5rem;
	background-color: #020024;
}

.wrap {
	composes: wrap from "../styles/Wrap.module.css";
	--wrap-justify: space-between;
}

.siteHeader a {
	color: var(--text-light);
}

.logo img {
	object-fit: contain;
}
