.hero {
	background-image: url("../public/img//hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--text-light);
	position: relative;
}

.center {
	composes: center from "../styles/Center.module.css";
}

.heroSwitcher {
	composes: switcher from "../styles/Switcher.module.css";
	gap: var(--s4) !important;
	padding-block-end: 4rem;
}

.titleStack {
	composes: stack from "../styles/Stack.module.css";
	composes: center from "../styles/Center.module.css";
}

.heroImg {
	object-fit: contain;
}

@media (max-width: 900px) {
	.titleStack {
		--stack-align: center !important;
	}

	.heroSwitcher {
		gap: var(--s1) !important;
		padding-block-end: 1rem;
	}
}

.heroSwitcher > * {
	flex-grow: 1;
	flex-basis: calc((50rem - 100%) * 999);
}

.heroTitle span {
	float: right;
	line-height: 3;
	font-size: var(--s1);
}

.shapedivider {
	composes: shapedivider from "../styles/ShapeDivider.module.css";
	top: revert;
	bottom: 0;
}

.shapedivider svg path {
	fill: var(--background-light);
}

@media (max-width: 600px) {
	.shapedivider {
		bottom: -10px;
	}
}
