.shapedivider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.shapedivider svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
}

.shapedivider svg path {
	fill: var(--primary);
}

@media (max-width: 600px) {
	.shapedivider svg {
		height: 80px;
	}
}
