.stack {
	display: flex;
	flex-direction: column;
	justify-content: var(--stack-justify, flex-start);
	align-items: var(--stack-align, flex-start);
}

.stack > * {
	margin-block: 0;
}

.stack > * + * {
	--stack-space: var(--s0);
	margin-block-start: var(--stack-space, --s0);
}

.stackException,
.stackException + * {
	--stack-space: 3rem;
}
